<div class="container">
  <div>
    <a class="btn-secondary" routerLink="/add-task">Add Task</a>
  </div>

  <div *ngIf="taskService.tasks.length == 0">
    <p style="color : red" class="alert alert-danger">No Tasks for today</p>
  </div>

  <div *ngIf="taskService.tasks.length != 0">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let task of taskService.tasks; index as i"
      >
      <a [routerLink]="['/task', i]" [style.textDecoration]="task.is_completed ? 'line-through' : 'none'">
        {{ task.title }}
      </a>
      <p>Description :  {{task.description}} </p>
      <p>Due Date :  {{task.due_date}} </p>
      <p>Completed :  {{task.is_completed}} </p>
     
        <input style="margin-left: 870px;margin-top: 7px;" type="checkbox" [checked]="task.is_completed" (change)="onCheck(i)" >

        <button class="edit-button" [routerLink]="['/task', i]">Edit</button>
        <button class="del-button" (click)="deleteTask(i)">Delete</button>
      
      </li>
    </ul>
  </div>
</div>
